.sample-article{
	border:1px solid purple;
	padding:10px;
	margin: 5px auto;
	display: inline-block;
	width:45%;
}

.sample-article-title{
	margin:0;
	margin-bottom: 5px;
}

.sample-article-anchor{
	cursor: pointer;
	text-decoration: none;
	color: rgb(15, 15, 15);
	border: 1px solid purple;
	padding:3px;
	margin-right:5px;
	background-color: rgb(235, 235, 235);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.sample-article-anchor:hover{
	color:rgb(235, 235, 235);
	background-color:rgb(15, 15, 15);
}

.notice-a{
	display:inline;
}

.header-form{
	display: inline;
}